env:

server:
    host: "0.0.0.0"
    port: "8080"
    tls:
        enable: false
        cert_file: ""
        key_file: ""

cache:
  host: ""
  port: "6379"
  user: ""
  password: ""
  db: 0

auth:
    jwt_secret: ""
    jwt_expiration:

ratelimit:
    limit: 100
    period: "1m"
    enabled: false

forward_service_url:

